* {
  border-radius: 0 !important;
}

form{
  width: 500px
}
//18 pt font size
.bi{
  font-size: 18pt;
}
.country-selector{
  opacity:10 !important;
}
.mat-menu-content:not(:empty){
  max-height:100px;
}
.mat-mdc-button:not(:disabled) {
  border-right: 1px solid lightgray;
}
