<h1 class="text-center">YourAgroData</h1>
<h2 class="text-center">Registration</h2>
<form class="mt-3 text-end">
  <div class="input-group mb-3">
    <div class="input-group-prepend"><i class="input-group-text bi bi-person-fill"></i></div>
    <input type="text" placeholder="Username" name="username" class="form-control">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend"><i class="input-group-text bi bi-envelope-fill"></i></div>
    <input type="text" placeholder="Email" name="email" class="form-control">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend"><i class="input-group-text bi bi-key"></i></div>
    <input type="password" placeholder="New Password" name="newpassword" class="form-control">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend"><i class="input-group-text bi bi-key-fill"></i></div>
    <input type="password" placeholder="Rewrite Password" name="rewpassword" class="form-control">
  </div>
  <button class="btn btn-success" style="width: 100%;">Confirm</button>
</form>
