<footer class="bg-success text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white">Francesco Bergui</a>
    <a class="btn" href="https://github.com/fbergui">
      <i class="bi bi-github"></i>
    </a>
    <a class="btn" href="mailto: f.bergui.1268@vallauri.edu">
      <i class="bi bi-envelope-fill"></i>
    </a>
    <a class="btn">
      <i class="bi bi-telephone-fill"></i>
      +39 111 222 3333
    </a>
    </div>
</footer>
