<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <h1 class="navbar-brand">YourAgroData</h1>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link">Welcome</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" >{{name}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="active">
	<li ngbNavItem [routerLink]="['/dashboard/'+id+'/fields']" [ngbNavItem]="1">
		<a ngbNavLink class="tabe">Fields</a>
		<ng-template ngbNavContent>
			<app-fields-list [id]="id"></app-fields-list>
		</ng-template>
	</li>
  <li ngbNavItem [routerLink]="['/dashboard/'+id+'/sensors']" [ngbNavItem]="2">
		<a ngbNavLink class="tabe" >Sensors</a>
		<ng-template ngbNavContent>
			<app-sensors [id]="id"></app-sensors>
		</ng-template>
	</li>
  <li ngbNavItem>
		<a ngbNavLink class="tabe">Wheater</a>
		<ng-template ngbNavContent>
			<p>These navs will always Wheater</p>
		</ng-template>
	</li>
  <li ngbNavItem>
		<a ngbNavLink class="tabe">Expensiveness</a>
		<ng-template ngbNavContent>
			<p>These navs will always Expensiveness</p>
		</ng-template>
	</li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2" style="padding-left: 30px;padding-right: 30px;"></div>
