* {
  border-radius: 0 !important;
}

img{
  max-width: 100%;
  max-height: 100%;
}

main{
  height: 500px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.row{
  border-bottom: 1px solid black;
  width: 100%;
}
.col-9{}

.testoHome{
  text-align: center;
  align-items: center;
}
.testoHome>p{
  scale:0.75;
}
.testoHome>h1{
  scale:0.90;
}
