<main class="row">
  <div class="col w-50">
      <img src="../../assets/img/carousel1.jpg">
  </div>
  <div class="col w-50 my-auto d-flex flex-column justify-content-center testoHome">
    <h1>We provide unique<br> local products</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus aliquam vulputate.
       Nulla facilisi. Integer sodales fermentum laoreet. Vivamus posuere odio id pharetra commodo.
       Nulla ac placerat neque. Aliquam molestie dignissim ex, ac condimentum urna tempor ac.
       In id euismod quam. Cras iaculis massa arcu, quis porta erat ullamcorper a.</p>
       <button class="btn btn-success ">Read More</button>
  </div>
</main>
