<main align="center">
  <div class="row">
    <div class="col-9 col-sm-6 ">
      <img src="../../assets/img/carousel1.jpg">
    </div>
    <div class="col-9 col-sm-6 my-auto d-flex flex-column justify-content-center testoHome">
      <h1>We provide a unique<br> agro data service</h1>
      <p>Our comprehensive Agricultural Data Services offer a cutting-edge solution to optimize farming practices,
         enhance productivity, and maximize yields. By harnessing the power of data analytics,
          advanced technologies, and expert insights, we provide farmers
          , agribusinesses, and agricultural organizations with valuable
           information to make data-driven decisions and drive sustainable
            growth in the agricultural sector.</p>
        <button class="btn btn-success ">Read More</button>
    </div>
  </div>

</main>
