<header class="bg-success">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center text-center">
        <nav class="navbar navbar-expand-lg m-2">
          <div class="site-logo pr-2">
            <h3 href="#" class="font-weight-bold">YourAgroData</h3>
          </div>
          <button class="navbar-toggler m-2" type="button"(click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="nav navbar-nav d-flex flex-row" [ngClass]="{ 'py-2 px-3': navbarOpen }">
              <span class="p-3"></span>
              <li class="p-1"><a routerLink="/home" class="nav-link active">Home</a></li>
              <li class="p-1"><a routerLink="/about" class="nav-link">About</a></li>
              <li class="p-1"><a routerLink="/services" class="nav-link">Services</a></li>
            </ul>
            <ul class="nav navbar-nav d-flex flex-row" [ngClass]="{ 'py-2 px-3': navbarOpen }">
              <span class="p-3"></span>
              <li class="p-3" ><a routerLink="/signin" class="nav-link"><i class="bi bi-person-fill-add"></i> Sign Up</a></li>
              <li class="p-3" ><a routerLink="/login" class="nav-link"><i class="bi bi-box-arrow-in-right" ></i> Login</a></li>
            </ul>
          </div>
        </nav>
    </div>
  </div>
</header>
